In [2]:
import yahoo_fin.stock_info as yh

In [3]:
response = yh.get_day_gainers()

In [4]:
response

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM)
0,BUR,Burford Capital Limited,11.06,3.84,53.19,16294000.0,657719.0,2.422000e+09,276.50
1,KPELY,Keppel Corporation Limited,8.45,1.63,23.89,24137.0,3725.0,7.455000e+09,12.07
2,SYRVF,"Sacyr, S.A.",2.72,0.52,23.64,15857.0,255.0,2.058000e+09,NaN
3,AI,"C3.ai, Inc.",33.57,5.94,21.50,61732000.0,19890000.0,3.767000e+09,NaN
4,PACB,"Pacific Biosciences of California, Inc.",11.58,1.82,18.65,11756000.0,4382000.0,2.861000e+09,NaN
...,...,...,...,...,...,...,...,...,...
95,EXTR,"Extreme Networks, Inc.",19.12,0.90,4.94,2214000.0,1405000.0,2.470000e+09,49.03
96,APPN,Appian Corporation,44.38,2.07,4.89,364864.0,389291.0,3.232000e+09,NaN
97,SHZHY,Shenzhou International Group Holdings Limited,10.34,0.48,4.87,19228.0,32027.0,1.577900e+10,30.41
98,DUOL,"Duolingo, Inc.",142.59,6.58,4.84,975067.0,596725.0,5.794000e+09,NaN
99,NEP,"NextEra Energy Partners, LP",60.75,2.80,4.83,2841000.0,786232.0,5.401000e+09,10.31

In [5]:
msft_data = yh.get_data('msft')
msft_data

,open,high,low,close,adjclose,volume,ticker
1986-03-13,0.088542,0.101563,0.088542,0.097222,0.060657,1031788800,MSFT
1986-03-14,0.097222,0.102431,0.097222,0.100694,0.062823,308160000,MSFT
1986-03-17,0.100694,0.103299,0.100694,0.102431,0.063906,133171200,MSFT
1986-03-18,0.102431,0.103299,0.098958,0.099826,0.062281,67766400,MSFT
1986-03-19,0.099826,0.100694,0.097222,0.098090,0.061198,47894400,MSFT
...,...,...,...,...,...,...,...
2023-03-27,280.500000,281.459991,275.519989,276.380005,276.380005,26840200,MSFT
2023-03-28,275.790009,276.140015,272.049988,275.230011,275.230011,21878600,MSFT
2023-03-29,278.959991,281.140015,278.410004,280.510010,280.510010,25087000,MSFT
2023-03-30,284.230011,284.459991,281.480011,284.049988,284.049988,25053400,MSFT
2023-03-31,283.730011,289.269989,283.000000,288.299988,288.299988,32740300,MSFT